---
// Import the `<StarlightPage>` component first to set up cascade layers.
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage frontmatter={{title: 'Our Strategy'}} hasSidebar={false}>
    <ul>
        <li>A concise (and precise) description of your project and the problem(s) it solves for users</li>
        <li>A description of how your project solves that problem in a way other projects don't</li>
        <li>A clear understanding of why an open source approach to this project is beneficial</li>
        <li>A sense of the users, developers, and maintainers contributing to the project</li>
        <li>A list of activities in which you'll engage to grow awareness of your project and lower barriers to
            participating in it
        </li>
    </ul>
</StarlightPage>