---
title: "hello world"

import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import Search from '@astrojs/starlight/components/Search.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
import ThemeSelect from 'starlight-theme-rapide/overrides/ThemeSelect.astro';
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
---

<div style="display: flex; align-items: center; gap: 1rem;">

    <SiteTitle/>
    <a href="blog">Blog</a>
    <a href="examples">Examples</a>
    <a href="docs">Docs</a>
    <Search/>
    <SocialIcons/>
    <ThemeSelect/>
    <LanguageSelect/>

</div>